.houses {
    // padding: 0.2rem 0 0 0.2rem;
    // height:3.14rem;
    .houseT{
    //   padding: 0.07rem 0 0.15rem;
      display: flex;
      justify-content: space-between;
      .hotT{
        font-size: 0.18rem;
        color: #313131;
        }
      .hotM{
        font-size: 0.14rem;
        color: #666;
        // margin-right: 0.20rem;
      }
      }
    .slide{
    // margin-right: 0.1rem;
    // margin: 0
    height: 2.1rem;
    overflow: hidden;
      img{
        position: relative;
        // height: 1.7rem;
        width: 100%;
        // height: 2.1rem;
        top:-.2rem;
      }
      // .housetitl{
      //   text-align: left;
      //   font-size: 0.14rem;
      //   color: #313131;
      //   // padding: 0.13rem 0 0.07rem;
      //   white-space: nowrap;
      //   overflow: hidden;
      //   text-overflow: ellipsis;
      //   .spanA{
      //     font-family: PingFangSC-Semibold;
      //     border-right: 0.01rem solid #d3d3d3;
      //   //   padding-right: 0.08rem;
      //   //   margin-right: 0.08rem;
      //   }
      //   .spanB{
      //     font-size: 0.14rem;
      //     color: #313131;
      //   }
      // }
      // .houseprice{
      //   text-align: left;
      //   font-size: 0.12rem;
      //   color: #ff5a5f;
      //   span{
      //     font-weight: bold;
      //     font-size: 0.16rem;
      //   //   margin: 0 0.05rem;
      //   }
      // }
      // color: #fff;
      .pagination{
        display: inline-block;
        padding:.0.03rem;
        background: rgba(6,6 , 6, .3);
        width: .5rem;
        border-radius: .08rem;
      color: #fff;
      position: absolute;
      left: .2rem;
     
    }
    }
    
    }
  