.houselist {
  width: 100%;
  padding: 0 0.2rem;
  box-sizing: border-box;
  li {
    padding-bottom: 0.15rem;
    .img {
      position: relative;
      padding-bottom: 0.1rem;
      img {
        width: 100%;
        height: 1.95rem;
      }
      .roi {
        position: absolute;
        bottom: 0.15rem;
        left: 0.1rem;
        width: 1.23rem;
        height: 0.24rem;
        color: #fff;
        div {
          font-size: 0.14rem;
          line-height: 0.24rem;
          text-align: center;
        }
        .roiL {
          width: 0.8rem;
          background: #313131;
        }
        .roiR {
          width: 0.43rem;
          background: #ff5a5f;
        }
      }
    }
    .bottom {
      .title {
        height: 0.2rem;
        padding-bottom: 0.12rem;
        .titL {
          padding-right: 0.08rem;
          border-right: 1px solid #d3d3d3;
          margin-right: 0.08rem;
        }
      }
      .price {
        font-size: 0.2rem;
        color: #ff5a5f;
        padding-bottom: 0.1rem;
      }
      .rent {
        font-size: 0.14rem;
        color: #666;
        padding-bottom: 0.1rem;
      }
      .tag {
        div {
          font-size: 0.14rem;
          height: 0.24rem;
          padding: 0 0.05rem;
          margin: 0 0.05rem 0.05rem 0;
          float: left;
          color: #fff;
          text-align: center;
          line-height: 0.24rem;
        }
      }
    }
  }
}