.navimg {
  position: relative;
  h2 {
    position: absolute;
    top: 0.6rem;
    left: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 0.24rem;
    font-weight: bold;
  }
  h3 {
    position: absolute;
    top: 0.95rem;
    left: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 0.14rem;
  }
}