.searchall {
  .empty {
    img {
      width: 2rem;
      margin: 0 auto;
    }
    .center {
      height: 0.3rem;
      line-height: 0.3rem;
      text-align: center;
      font-size: 0.2rem;
      color: #313131;
      margin: 0.2rem 0;
    }
    .btm {
      font-size: 0.18rem;
      color: #313131;
      padding-left: 0.2rem;
      padding-bottom: 0.1rem;
    }
  }
}